/Config/bootstrap.php

/webroot/.sass-cache/*

/webroot/img/catalog_item_images/*
!/webroot/img/catalog_item_images/
!/webroot/img/catalog_item_images/empty

/webroot/logs/*
!/webroot/logs/empty
/webroot/logs/ipn/*
!/webroot/logs/ipn/
!/webroot/logs/ipn/empty
