.badge-catalogitem-category {
	background-color: #ccc;
	a {
		color: white;
		text-decoration: none;
		&:hover {
			color: white;
			text-decoration: underline;
		}
	}
}
.catalogitemcategory-list {
	.catalogitemcategory {
		margin-bottom: $line-height-computed / 2;
	}
	li em {
		font-size: $font-size-small;
		color: $text-color-lighter;
		font-style: normal;
	}
}