.badge-catalogitem-category {
	background-color: #CCC;
	a {
		color: white;
		text-decoration: none;
		&:hover {
			color: white;
			text-decoration: underline;
		}
	}
}
.catalogitemcategory-list {
	.catalogitemcategory {
		margin-bottom: $baseLineHeight / 2;
	}
	li em {
		font-size: $fontSizeSmall;
		color: $textColorLighter;
		font-style: normal;
	}
}