@import "../../../../webroot/scss/variables";
@import "../../../Layout/webroot/scss/bootstrap/variables";
@import "../../../Layout/webroot/scss/variables";

.nav-catalogitemcategories {
	li a {
		font-size: $fontSizeLarge;
	}
}

.qty, .cash {
	font-size: 20px;
}
th.cash, td.cash {
	width: 120px;
	text-align: right;
}
th.cash {
	font-size: inherit;
}
.media-catalogitem {
	.pull-right {
		line-height: normal;
	}
	.catalog-item-price {
		font {
			font-size: 36px;
		}
	}
}

form.canceled {
	background-color: #CCC;
	input, select, textarea {
		background-color: #EEE;
	}
	&, label, input, select, textarea {
		color: #999;
	}
}

@mixin trackBadge($class, $bg, $color) {
	&.#{$class} {
		background-color: $bg;
		color: $color;
	}
}
.badge.tracking {
	a {
		color: white;
	}
	@include trackBadge(fedex, #472F91, #F57921);
	@include trackBadge(ups, #1A110E, #DEA72E);
	@include trackBadge(usps, #013490, #663F3C);
	@include trackBadge(dhl, #D80612, #FFCB01);
}

.media {
	.img, .bd,.rght {
		overflow: hidden;
		zoom: 1;
	}
	.img {
		float: left;
		margin-right: 10px;
	}
	.rght {
		float: right;
		margin-left: 10px;
	}
}

.catalog-item-package-children {
	.thumb {
		width: 40px;
		img {
			width: 100%;
		}
	}
	td {
		line-height: 40px;
	}
}
.catalog-item-admin-list {
	img.media-object {
		width: 80px;
	}
}

//Shopping Cart
.order-cart {
	td, th {
		border: 0;
	}
	th {
		border-bottom: 1px solid;
	}
	img {
		width: 50px;
	}
	td {
		&.row-total {
			font-size: 1.5em;
			width: 120px;
		}
		&.quantity, &.price {
			font-size: 20px;
		}
	}
	td, th {
		&.row-total {
			text-align: right;
		}
		&.quantity, &.price, &.delete {
			width: 80px;
			text-align: center;
		}
	}

	.order-product {
		td {
			line-height: 40px;
		}
		&.child-order-product {
			background-color: #EEE;
			td {
				font-size: 90%;
				line-height: normal;
				font-style: italic;
				&.product {
					padding-left: 40px;
				}
				img {
					width: 25px;
				}
			}
		}
	}
	.cart-total {
		td {
			border: 0;
		
		}
		&.top-total {
			border-top: 1px solid;
		}
		&.final {
			td {
				font-weight: bold;
			}
		}
		.total-label {
			text-align: right;
		}
	}
	.promo-code {
		float: right;
	}
	.form-actions {
		clear: both;
	}
	&.condensed {
		td {
			line-height: normal;
			&.quantity {
				text-align: center;
				width: 40px;
			}
			&.row-total {
				width: 80px;
			}
		}
	}
}

@mixin order-style($name, $color) {
	.#{$name}, tr.#{$name} td {
		background-color: $color;
	}
	.badge.#{$name}, .label.#{$name} {
		color: black;
	}
}
@include order-style(order-not-shipped-not-paid, white);
@include order-style(order-not-shipped-paid, #FCF8E3);
@include order-style(order-shipped-not-paid, #F2DEDE);
@include order-style(order-shipped-paid, #DFF0D8);
@include order-style(order-canceled, #CCC);

.orders.key.table {
	td {
		text-align: center;
		border: 1px solid;
		padding: 0;
		a {
			display: block;
			padding: .5em;
		}
	}
}

.shipping-rules {
	.title div {
		text-align: center;
	}
	.right-border {
		border-right: 1px solid #CCC;
	}
}
.shipping-rule-input {
	.input-mini {
		width: 60px;
	}
}