@import "variables";

@import "bootstrap3.2/bootstrap";

@import "catalog-item-categories";
@import "catalog-item-images";
@import "catalog-items";
@import "order-cart";

.nav-catalogitemcategories {
	li a {
		font-size: $font-size-large;
		line-height: 1 !important;
	}
}

.qty, .cash {
	font-size: 20px;
}
.cash-sale {
	color: #660000;
}
.cash-old {
	color: #666;
	text-decoration: line-through;
}
th.cash, td.cash {
	width: 120px;
	text-align: right;
}
th.cash {
	font-size: inherit;
}
.media-catalogitem {
	.pull-right {
		line-height: normal;
	}
	.catalogitem-price {
		font {
			font-size: 36px;
		}
	}
}

form.canceled {
	background-color: #ccc;
	input, select, textarea {
		background-color: #eee;
	}
	&, label, input, select, textarea {
		color: #999;
	}
}

@mixin track-badge($class, $bg, $color) {
	&.#{$class} {
		background-color: $bg;
		color: $color;
	}
}
.badge.tracking {
	a {
		color: white;
	}
	@include track-badge(fedex, #472f91, #f57921);
	@include track-badge(ups, #1a110e, #dea72e);
	@include track-badge(usps, #013490, #663f3c);
	@include track-badge(dhl, #d80612, #ffcb01);
}

.catalogitem-package-children {
	.thumb {
		width: 40px;
		img {
			width: 100%;
		}
	}
	td {
		line-height: 40px;
	}
}
.catalogitem-admin-list {
	img.media-object {
		width: 80px;
	}
}


@mixin order-style($name, $color) {
	.#{$name}, tr.#{$name} td {
		background-color: $color;
	}
	.badge.#{$name}, .label.#{$name} {
		color: black;
		background-color: $color;
	}
}
@include order-style(order-not-shipped-not-paid, white);
@include order-style(order-not-shipped-paid, #fcf8e3);
@include order-style(order-shipped-not-paid, #f2dede);
@include order-style(order-shipped-paid, #dff0d8);
@include order-style(order-canceled, #ccc);

.orders.key.table {
	td {
		text-align: center;
		border: 1px solid;
		padding: 0;
		a {
			display: block;
			padding: .5em;
		}
	}
}

.shipping-rules {
	.title div {
		text-align: center;
	}
	.right-border {
		border-right: 1px solid #ccc;
	}
}
.shipping-rule-input {
	.input-mini {
		width: 80px;
	}
}
.shipping-rule-amt {
	> label {
		display: block;
		clear: both;
	}
	> .form-control {
		display: inline-block;
	}
}