.form-catalogitem-layout {
	margin: 10px 0;
	label, select, input, button {
		height: $line-height-computed;
		line-height: $line-height-base;
		font-size: $font-size-small;
		padding: 0;
		margin-left: 5px;
	}
	input, button {
		padding: 0 5px;
	}
}
.catalogitem-images {
	max-width: 260px;
}

.catalogitem-view {
	margin-top: 40px;
	> form {
		max-width: none;
	}
}


