.catalogitem-image-view {
	margin-bottom: $line-height-computed;
}
.catalogitem-image-view-display {
	text-align: center;
	img {
		width: auto;
	}
}
.thumbnails {
	.thumbnail {
		&.thumbnail-current {
			border-color: $link-color;
		}
		img {
			width: 100%;
		}
	}
}