.catalogitem-images {
	&-display {
		width: 100%;
	}
}
.catalogitem-image-view {
	margin-bottom: $line-height-computed;
	&-display {
		text-align: center;
		img {
			width: auto;
		}
	}
}

.thumbnails {
	.thumbnail {
		&.thumbnail-current {
			border-color: $link-color;
		}
		img {
			width: 100%;
		}
	}
}